{% extends 'base.html.twig' %}

{% block body %}
   <h1>Слова</h1>
   <div class="list-group">
      {% for word in words %}
         <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
               <h5 class="mb-1">{{ word.text|e }}</h5>
               <div class="d-flex w-25 justify-content-between">
                  <div class="w-50 text-end"><a class="btn" href="{{ path('edit_word', {id: word.id}) }}" title="Изменить"><i class="bi bi-pencil fs-3"></i></a></div>
                  <div class="w-50 text-end"><a class="btn" href="" title="Удалить"><i class="bi bi-x-circle fs-3"></i></a></div>
               </div>
            </div>
            <p class="mb-1">{{ word.translate|e }}</p>
         </li>
      {% endfor %}
   </div>
{% endblock %}